@charset "utf-8";

*{ margin:0; padding:0; }
body, html { width:100%; -ms-overflow-style:none; font-family:  }
::-webkit-scrollbar { display:none; }
ul, li { list-style: none; }
a { text-decoration: none; }
label, button, input { background-image:none; }
.wrap { width:100%; height:100%; }
.hd { width:100%; height:50%;
 background: #a6b2f4; /* Old browsers */
 background: -moz-linear-gradient(top, #a6b2f4 1%, #2792e5 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #a6b2f4 1%,#2792e5 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #a6b2f4 1%,#2792e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b2f4', endColorstr='#2792e5',GradientType=0 ); /* IE6-9 */ }
.logo { display:block; width:95px; height:37px; float:left; margin-left:10px; margin-top:10px;
        background-image:url("./img/logo.png");
        background-repeat:no-repeat;
        background-size:100% auto;
        background-position:center center;} 
 .top_btn { float:right;; margin-top:10px; margin-right:10px; width:60px; }
 .top_btn li { float:left; }
 .top_btn li label { display:block; width: 25px; height: 25px; background-repeat:no-repeat; background-position:center center;
                     text-indent:-9999px; }
 .top_btn li.search label { background-image:url("./img/search.png"); }
 .top_btn li.menu label { background-image:url("./img/menu.png"); margin-left:7px;}
 .close { display:block; width:30px; height:30px; background-image:url("./img/close.png"); background-size:cover; }
 .ck_item { display:none; }
 #find_nav { position:fixed; left:-110%; top:0; z-index:99; width:100%; height:100vh; background-color:#fff; transition:0.5s; }
 #ck1:checked ~ #find_nav { left:0; }
 #gnb { position:fixed; right:-110%; top:0; z-index:99; width:100%; height:100vh; background-color:#fff; transition:0.5s; }
 #ck2:checked ~ #gnb { right:0; }

 .frm1 { clear:both; padding-top:1.6em; width: 250px; margin:0 auto; }
 .frm1 input { display:block; float:left; }
 .in_data { width:200px; line-height:32px; border-radius:15px; border:1px solid rgb(105, 104, 104); text-indent:1em; }
 .frm_btn { width: 32px; height: 32px; background-color: #333; background-image: url("./img/search2.png"); background-position:center center; 
     background-repeat:no-repeat; margin-left:10px; text-indent:-9999px; border-radius:15px; }
 .hash_title { clear:both; text-align:center; line-height:4; }
 .hash { clear:both; padding:20px; }
 .hash li { line-height:2.4; padding-left:20px; }
 .hash li a { color:#333; }
 #find_nav .close { position:absolute; right:20px; top:20px; }

 #gnb li { clear:both; line-height:2; padding-left:25px; }
 #gnb li a { display:block; color:#333; position:relative; }
 .sub { width:100%; height: 0; overflow:hidden; transition:0.5s; }
 .sub.on { height:165px; }
 #gnb li a.dp1:after { content:"▼"; position:absolute; right:50px; top:5px; }
 #gnb li a.dp1.on:after { content:"▲"; }
 #gnb:before { content:"MENU"; display:block; clear:both; width:100%; line-height:80px; font-size:2em; text-align:center;
  border-bottom:3px solid #eee; }
 #gnb .close { position:absolute; right:20px; top:20px; }

 .ft { clear:both; height:70px; width:100%; background-color:#333; color:#fff; font-size:0.6em; text-align:center; line-height:1.4;
 padding-bottom:15px; font-weight:200; position:absolute; bottom:0; left:0; padding-top:20px; }
 .ft_wrap { width:280px; margin:0 auto; }